services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: luxor
      MYSQL_DATABASE: note_taking_app
    ports:
      - 3306:3306
    networks:
      - mynetwork

  app:
    build: .
    networks:
      - mynetwork
    depends_on:
      - db

networks:
  mynetwork:
    driver: bridge
