name: CI Workflow

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        services:
            mysql:
                image: mysql:8.0
                env:
                    MYSQL_ROOT_PASSWORD: luxor
                    MYSQL_DATABASE: note_taking_app
                    MYSQL_USER: admin
                    MYSQL_PASSWORD: luxor
                ports:
                    - 3306:3306
                options: >-
                    --health-cmd="mysqladmin ping --silent"
                    --health-timeout=5s
                    --health-retries=3

        steps:
            # Checkout the code
            - name: Checkout code
              uses: actions/checkout@v3

            # Set up Node.js
            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                node-version: '22.12.0'

            # Install dependencies
            - name: Install dependencies
              run: |
                npm install

            # Lint the code
            - name: Lint the code
              run: |
                npm run lint

            # Set up Docker
            - name: Set up Docker
              uses: docker/setup-buildx-action@v2

            # Build and start services using Docker Compose
            - name: Build and start services using Docker Compose
              run: |
                docker compose -f docker-compose.yml up -d --build
                docker-compose exec db mysql -u root -p$MYSQL_ROOT_PASSWORD -e "SHOW TABLES;"
                
            # Run Jest tests
            - name: Run Jest tests
              env:
                DB_HOST: ${{ vars.DB_HOST }}
                DB_USER: ${{ vars.DB_USER }}
                DB_PASSWORD: ${{ vars.DB_PASSWORD }}
                DB_NAME: ${{ vars.DB_NAME }}
              run: |
                  echo "DB_HOST=${DB_HOST}" >> $GITHUB_ENV
                  echo "DB_USER=${DB_USER}" >> $GITHUB_ENV
                  echo "DB_PASSWORD=${DB_PASSWORD}" >> $GITHUB_ENV
                  echo "DB_NAME=${DB_NAME}" >> $GITHUB_ENV
                  npm run test -- --coverage

            # Stop Docker Compose services
            - name: Stop Docker Compose services
              run: |
                  docker compose down --volumes --rmi all --remove-orphans